<!-- Encabezado -->
<header class="encabezado">
    <!-- row section -->
    <div class="u-section-row r">
        <!-- Logo -->
        <a href="/" class="logo r-30">
            <img src="/images/logo.png" class="u-logo-image" data-image-width="80">
        </a>
        <div class="r r-70 botones-header">
            <a href="/login"><span class="fas fa-sign-in-alt"></span>&nbsp;Iniciar Sesion</a>
            <a href="#"><span class="fas fa-shopping-bag"></span>&nbsp;Carrito</a>
        </div>
    </div>
    <!-- Fin row section -->
</header>
<!-- Fin Encabezado -->