<!DOCTYPE html>
<html lang="es">

<%- include('partialsDashboard/header') %>

  <!-- row section -->
  <div class=" u-section-row padding-tb">

        <h2 class="das-titulo">Editar Producto</h2>
          <!-- Body Dashboard -->
          <div class="das-body">
                
            <section class="detalle">
                    <div class="r-40">
                      <img
                        class="img-destacada"
                        src="/images/Under Armour speed stride OS.jpg"
                      />
                      <div class="galeria">
                        <img class="img-small" src="/images/under armour speed.jpg" />
                        <img class="img-small" src="/images/under armour speed st.jpg" />
                        <img
                          class="img-small"
                          src="/images/under armour speed stride OS (2).jpg"
                        />
                        <img class="img-small" src="/images/Under Armour Run.jpg" />
                      </div>
                    </div>

                    <div class="r-60 center padding-pr">
                                                <form action="">
                      <input
                        class="w-100 font-m"
                        type="text"
                        placeholder="NOMBRE DEL PRODUCTO"
                        id="nombreDelproducto"
                      />
                        <input
                        class="w-100 font-m"
                        type="text"
                        placeholder="DESCRIPCIÓN DEL PRODUCTO"
                        id="descripciónDelproducto"
                      />
                      <select name="Categoria" id="CATEGORIA">
                        <option>HOMBRE</option>
                        <option>MUJER</option>
                        <option>NIÑO</option>
                      </select> 
                      <input
                        class="z-100 font-m"
                        type="text"
                        placeholder="PRECIO REBAJADO"
                        id="precioRebajado"
                        />
                      <input
                        class="z-100 font-m"
                        type="text"
                        placeholder="PRECIO"
                        id="precio"/>
                                                </form>

                                        
                      <h5 class="talle">Seleccione el talle</h5>

                      <ul class="caja-talles">
                        <li class="div-talles">S</li>
                        <li class="div-talles">M</li>
                        <li class="div-talles">L</li>
                        <li class="div-talles">XL</li>
                      </ul>
                        <a href="#" class="submit" 
                          >EDITAR PRODUCTO / GUARDAR </i
                        ></a>
                      </div>
          </div>
        <!-- Fin Body Dashboard -->

    </div>
    <!-- Fin row section -->

<!-- Copyright -->
<%- include('partialsDashboard/footer') %>
