<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partialsDashboard/head') %>
</head>

    <body class="dashboard">

    <%- include('partialsDashboard/header') %>

    <!-- row section -->
    <div class=" u-section-row padding-tb">

            <h2 class="das-titulo">Agregar Productos</h2>
            <!-- Body Dashboard -->
            <div class="das-body">

                <!-- Formulario Crear Producto -->
                <form action="/dashboard" method="post" enctype="multipart/form-data" class="formulario bg-gris-claro">

                  <div class="w-100">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input type="text" id="name" name="name" placeholder="Nombre del Producto" class="w-100" />
                  </div>

                  <div class="w-100">
                    <label for="description" class="form-label">Descripcion producto:</label>
                    <textarea name="description" id="description" placeholder="Descripción" class="w-100" rows="8" cols="50" ></textarea>
                  </div>

                  <div class="w-100">
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category" class="form-input" >
                      <option value="">Elegí</option>
                      <option value="Oferta">OFERTA</option>
                      <option value="Destacado">DESTACADO</option>
                    </select>
                  </div>

                  <div class="w-100 flex">
                    <div class="r-33">
                      <label for="genero" class="form-label">Genero:</label>
                      <select name="genero" id="genero" class="form-input" >
                        <option value="">Elegí</option>
                        <option value="Niños">Niños</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Unisex">Unisex</option>
                    </select>
                    </div>

                    <div class="r-33">
                      <label for="marca" class="form-label">Marca:</label>
                      <input type="text" id="marca" name="marca" placeholder="Marca" class="w-100" />
                    </div>

                    <div class="r-33">
                      <label for="material" class="form-label">Material:</label>
                      <input type="text" id="material" name="material" placeholder="Material" class="w-100" />
                    </div>
                  </div>

                  <div class="r-50">
                    <label for="price" class="form-label">Precio:</label>
                    <input type="text" id="price" name="price" placeholder="Precio" class="w-100" />
                  </div>

                  <div class="r-50">
                    <label for="discount" class="form-label">Precio Rebajado:</label>
                    <input type="text" id="discount" name="discount" placeholder="Descuento" class="w-100" />
                  </div>
    

                  <label for="image">Imagen destacada</label>
                  <input type="file" name="image" accept="image/png,image/jpeg" class="border-box">


                  <div class="w-100 botones padding-tb">
                    <button type="submit" class="submit">GUARDAR </i></button>
                    <button type="reset" class="rest"><span class="far fa-trash-alt"> </span> Limpiar</button> 
                  </div>

                </form>
                <!-- Fin Formulario Crear Producto -->

            </div>
            <!-- Fin Body Dashboard -->

    </div>
    <!-- Fin row section -->

    <!-- Copyright -->
    <%- include('partialsDashboard/footer') %>
        
    </body>

</html>