<!DOCTYPE html>
<html lang="es">
<%- include("partialsDashboard/header") %>




  <div class="a-panel-dashboard">


    <section class="u-section-row padding-tb detalle">
      <div class="r-40">
        <img class="img-destacada" src="/images/Under Armour speed stride OS.jpg" />
        <div class="galeria">
          <img class="img-small" src="/images/under armour speed.jpg" />
          <img class="img-small" src="/images/under armour speed st.jpg" />
          <img class="img-small" src="/images/under armour speed stride OS (2).jpg" />
          <img class="img-small" src="/images/Under Armour Run.jpg" />
        </div>
      </div>

      <div class="r-60 center padding-pr">
        <h2 class="nombre">Remera Adidas Training</h2>
        <p class="descuento"><s>$15.999,00</s> <strong>11.900,00</strong></p>
        <h5 >Detalles</h5>

        <p class="padding-tb">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          dolorum molestiae aliquid animi dolorem. Excepturi dolores, facere
          aliquid assumenda laboriosam, quas nam quod fugiat aperiam nihil
          similique tenetur ipsum commodi?
        </p>
        <h5>Talles</h5>

        <ul class="caja-talles">
          <li class="div-talles">S</li>
          <li class="div-talles">M</li>
          <li class="div-talles">L</li>
          <li class="div-talles">XL</li>
        </ul>
        
          
          
            <h5 >Cantidad</h5>
            <h5 class="div-talles">50</h5>

            <label for="colores">Colores</label>
                                <ul class="caja-colores">

                                    <li class="bg-rojo div-colores">
                                        
                                    </li>
                                    <li class="bg-amarillo div-colores">
                                        

                                    </li>
                                    <li class="bg-negro div-colores">

                                    </li>
                                    <li class="bg-blanco div-colores">

                                    </li>
                                </ul>
            

        
        <!-- BBotones editar y borrar -->

        <div class="product-edit">
          <a href="/dashboard/editProduct" class="submit"><span class="fas fa-pencil-alt"></span> </i>EDITAR</a>
          <a href="#" class="submit"><span class="far fa-trash-alt"></span> </i>BORRAR</a>
        </div>
      </div>
    </section>

    <!-- footer m -->
    <footer>
      <%- include("partialsDashboard/footer") %>
    </footer>
    <!-- /Fin footer m -->

    <!-- Copyright -->
    <div class="copyright">
      <div class="u-section-row padding-tb">
        Copyright 2022 - Todos los derechos reservados
        <a>Grupo 1 Digital House</a>
      </div>
    </div>
  </div>
  </body>

</html>