<!DOCTYPE html>
<html lang="es">

<%- include('partialsDashboard/header') %>


    <!-- row section -->
    <div class="u-section-row padding-tb">

            <h2 class="das-titulo">Productos</h2>

            <!-- Body Dashboard -->
            <div class="das-body">

                <div class="productDetail">



                    <!-- HACER EL FOREACH -->
                    <article class="productos">
                            <img class="img-product" src="/images/Adidas Designed for training workout Product OS.jpg"
                                alt="Imagen remera">
                            <div class="div-productos">
                                <h4 class="nombre"></h4>
                                <p class="descuento"><s>$15999</s> <strong>$11999</strong></p>
                                <div class="product-edit">
                                    <a href="/productdetail" class="submit w-100"><i class="fas fa-eye"> </i><p class="verProducto"> Ver Producto</p></a>
                                    <a href="/dashboard/editProduct" class="submit"><span
                                            class="fas fa-pencil-alt"></span> </i></a>
                                    <a href="#" class="submit"><span class="far fa-trash-alt"></span> </i></a>
                                </div>
                            </div>     
                    </article>
                    <!-- HACER EL FOREACH -->



                </div>
            </div>
            <!-- Fin Body Dashboard -->

    </div>
    <!-- Fin row section -->

    <!-- Copyright -->
    <%- include('partialsDashboard/footer') %>
