<!DOCTYPE html>
<html lang="es">

<%- include('partialsDashboard/header') %>



    <div class="a-panel-dashboard">

        <!-- row section -->
        <div class=" u-section-row padding-tb">

            <h2 class="das-titulo">Productos</h2>

            <div class="das-body">

                
                                <table class="shop_table">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail"><span class="screen-reader-text"></span></th>
                                            <th class="product-name">Producto</th>
                                            <th class="product-price">Precio</th>
                                            <th class="product-quantity">Editar</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-cart">
                                                <a href="/productDetail" class="no-lightbox">
                                                    <img src="/images/Under Armour speed stride OS.jpg" class="cart-img"
                                                        alt="">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="/productDetail">
                                                    Remera Adidas Training
                                                </a>
                                            </td>

                                            <td class="product-price">
                                                <span class="">$</span>&nbsp;11.900,00</span>
                                            </td>

                                            <td>
                                                <div class="product-edit">
                                                    <a href="/dashboard/editProduct"><span
                                                            class="fas fa-pencil-alt"></span></a>
                                                    <a href="" class="remove"><span class="far fa-trash-alt"></span></a>

                                                </div>
                                            </td>


                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-cart">
                                                <a href="/productDetail" class="no-lightbox">
                                                    <img src="/images/Under Armour speed stride OS.jpg" class="cart-img"
                                                        alt="">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="/productDetail">
                                                    Remera Adidas Training
                                                </a>
                                            </td>

                                            <td class="product-price">
                                                <span class="">$</span>&nbsp;11.900,00</span>
                                            </td>

                                            <td>
                                                <div class="product-edit">
                                                    <a href="/dashboard/editProduct"><span
                                                            class="fas fa-pencil-alt"></span></a>
                                                    <a href="" class="remove"><span class="far fa-trash-alt"></span></a>

                                                </div>
                                            </td>


                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-cart">
                                                <a href="/productDetail" class="no-lightbox">
                                                    <img src="/images/Under Armour speed stride OS.jpg" class="cart-img"
                                                        alt="">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="/dashboard/productDetail">
                                                    Remera Adidas Training
                                                </a>
                                            </td>

                                            <td class="product-price">
                                                <span class="">$</span>&nbsp;11.900,00</span>
                                            </td>

                                            <td>
                                                <div class="product-edit">
                                                    <a href="/dashboard/editProduct"><span
                                                            class="fas fa-pencil-alt"></span></a>
                                                    <a href="" class="remove"><span class="far fa-trash-alt"></span></a>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>


                        





                       

                    </div>

                </div>

            </div>

        </div>
        <!-- Fin row section -->


        <!-- Copyright -->
        <%- include('partialsDashboard/footer') %>


    </div>

</body>

</html>