<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles_login.css">
    <link rel="stylesheet" href="../css/admin.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="dashboard">

    <div class="a-panel-menu">
        <!-- Logo -->
        <a href="/">
            <img width="100%" src="/images/logo.png">
        </a>

        <!-- Menu Admin -->
        <nav class="menu-admin">
            <li><a href="/dashboard"> <i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="/dashboard/product"> <i class="fas fa-store"></i> <span>Productos</span></a></li>
            <li><a href="/dashboard/newproduct"> <i class="fas fa-store"></i> <span>Agregar producto</span></a></li>
            <li><a href="#"> <i class="fas fa-shopping-cart"></i> <span>Pedidos</span></a></li>
            <li><a href="#"> <i class="fas fa-users"></i> <span>Usuarios</span></a></li>
            <li><a href="#"> <i class="fas fa-store"></i> <span>Paginas</span> </a></li>
            <li><a target="_blank" href="/"> <i class="fas fa-sign-out-alt"></i> <span>Ver Tienda</span></a></li>
            <li><a href="#"> <i class="fas fa-sign-out-alt"></i> <span>Cerrar Sesión</span></a></li>
        </nav>

    </div>

    <!-- Panel Dashboard -->
    <div class="a-panel-dashboard">

        